@import url('https://fonts.googleapis.com/css2?family=Klee One:wght@300;400;500;600;700&display=swap');

img.profile {
    border-radius: 4px;
    border-width: 2px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    border-color: black;
    border-style: solid;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 40px;
    width: auto;
    background-color: #f2f4f5;
}

p.socials {
    margin-bottom: 50px;
    width: 98%;
    font-family: "Klee One";
}

p {
    width: 100%;
}

a.icons {
    margin-left: 10px;
}

h3 {
    margin-bottom: 15px;
    margin-left: -10px;
    font-weight: bold;
    color: darkcyan;
}

h1 {
    color: darkblue;
}

h2 {
    color: blue;
}

table {
    text-align: left;
    width: 98%;
    text-indent: 10px;
    table-layout: fixed;
}

tr {
    background-color: gray;
}

td {
    margin-top: 10px;
    background-color:lightgray;
}

img.socials {
    height: 20px;
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
    position: absolute;
}